[% META type = 'text'
%]
/* (C) Copyright 2008-[% USE date; date.format(date.now, '%Y') %] Taoist Tai Chi Society of the USA
 * See [% site.uris.contact %] to contact this branch of the Society.
 * See [% site.uris.colophon %] for information about how this site is built, if that's your thing,
 * or [% site.uris.humans %] to see who's to blame for this site.
 */

body {
  background: #fff;
  color: #000;
}


.leader {
  font-size: 120%;
  font-weight: bold;
  margin-left: -0.5em;
}

/* Specific page elements */
#page {
  background: #fff;
  padding: 1em 0;
}

/* Menu */
#menu {
  text-align: center;
  color: #000;
  padding: 4px 0;
  margin-bottom: 1em;
  border-top: 1px solid [% colors.links.visited %];
  border-bottom: 1px solid [% colors.links.visited %];
}

#menu ul {
  display: inline;
  list-style-type: none;
  list-style: none;
}

#menu ul li {
  display: inline;
  padding: 5px;
  margin: 5px 0;
}

#menu ul li.active {
  font-weight: bold;
}

#menu ul li:hover {
  background: #f0f0f0;
  font-weight: bold;
}

#menu a {
  color: [% colors.links.visited %];
  text-decoration: none;
}

#menu li.active a {
  color: #000;
  text-decoration: none;
}

#menu a:hover {
  color: #000;
}

/*
 *
 * Header
 */
#header {
  background: #fff;
}

#header {
    text-align: center;
    font-style: italic;
    font-family: Times;
}

#header h1 {
  color: #000;
}

#header h1 a {
  text-decoration: none;
  color: #000;
}

#header h1 a:visited {
  color: #000;
}

#header h2 {
  color: #ccc;
}

/* Main content area */
#main {
}

#main h1.section {
  border-bottom: 1px [% colors.links.visited %] dotted;
  text-align: center;
}

#main p {
  padding: 0 1em;
}

#main a, #sidebar a {
  color: [% colors.links.new %];
  text-decoration: none
}

#main a:hover, #sidebar a:hover {
  border-bottom: 1px [% colors.links.new %] dotted;
}

#main a:visited, #sidebar a:visited {
  color: [% colors.links.visited %];
}

/* Photo blob on main page */
#photo {
  padding: 1em 0;
}

#map {
  margin: 1em;
  text-align: center;
  height: 800px;
  width: 950px;
}

#address {
  border: 1px solid #ddd;
  background: #eee;
  margin: 2em;
  padding: 1em;
}

img.floater {
  float: right;
  padding: 1em;
}

#sidebar {
  background: #eee;
}

#sidebar h2 {
  padding: 5px;
  border-bottom: 1px #ccc solid;
}

#sidebar ul {
  list-style-type: none;
  list-style: none;
}

#sidebar ul li {
  margin-left: 1em;
}

/* Footer */
#footer {
  font-size: 75%;
  text-align: center;
  color: #444;
  padding: 5px 0;
  border-bottom: 1px solid [% colors.links.visited %];
  border-top: 1px solid [% colors.links.visited %];
  margin-top: 1em;
}

#footer a {
  color: [% colors.links.visited %];
  text-decoration: none;
}

#footer a:hover {
  color: #000;
}

#infobar {
  font-size: 75%;
  text-align: center;
  background: #f5f5f5;
  color: #bbb;
  padding: 5px 0;
}

#qrcode {
  display: none;
}

#main a.plink {
    text-decoration: none;
    color: #fff;
}

#main p:hover a.plink, #main p a:hover.plink {
    color: #c8a8ff;
    border-bottom: 0;
}

/* Some generic classes */
.identifier {
  font-style: italic;
}

.centered {
  text-align: center;
}

h2.section {
  /*color: #fff;*/
  /*background: #eee;*/
  text-align: center;
  border-bottom: 1px #ccc dotted;
}

/* Schedule table */
div.schedule {
  padding-bottom: 1em;
  margin: 1em;
  /*border: 1px #eee dotted;*/
}

table.schedule {
  padding: 1em;
  width: 95%;
  margin: 0 1em;
}

table.schedule th {
  border-bottom: 1px [% colors.links.visited %] solid;;
  font-size: 160%;
  font-weight: bold;
  padding-top: 1em;
}

table.schedule td {
  padding: 0 1em;
}

table.schedule tr.odd {
  background: #eee;
}

table.schedule tr.odd:hover {
  background: #ddd;
}

table.schedule tr.even {
  background: #fff;
}

table.schedule tr.even:hover {
  background: #ddd;
}

table.payments {
  padding: 1em;
  width: 95%;
  margin: 1em;
}

table.payments th {
  font-weight: bold;
}

table.payments tr:hover {
  background: #eee;
}
