[% META type = 'text'
%]
/* (C) Copyright 2008-[% date.format(template.modtime, '%Y') %] Taoist Tai Chi Society of the USA
 * See [% site.uris.contact %] to contact this branch of the Society.
 * See [% site.uris.colophon %] for information about how this site is built, if that's your thing,
 * or [% site.uris.humans %] to see who's to blame for this site.
 */

body {
  background: #eee;
  color: #000;
}


.leader {
  font-size: 120%;
  font-weight: bold;
}

/* Specific page elements */
#page {
  background: #fff;
  padding: 1em 0;
}

/* Menu */
#menu {
  text-align: center;
  background: #000;
  color: #eee;
  padding: 4px 0;
}

#menu ul {
  display: inline;
  list-style-type: none;
  list-style: none;
}

#menu ul li {
  display: inline;
  padding: 5px;
  margin: 5px 0;
}

#menu ul li.active {
  font-weight: bold;
  color: #fff;
}

#menu ul li:hover {
  background: #333;
  border-top: 3px [% colors.links.visited %] solid;
}

#menu a {
  color: [% colors.links.visited %];
  text-decoration: none;
}

#menu li.active a {
  color: #fff;
  text-decoration: none;
}

#menu a:hover {
  color: #fff;
}

/*
 *
 * Header
 */
#header {
  background: #fff;
  background-image: url([% site.uris.images %]/header.png);
  height: 325px;
}

#header h1 {
  color: #fff;
}

#header h1 a {
  text-decoration: none;
  color: #fff;
}

#header h1 a:visited {
  color: #fff;
}

#header h2 {
  color: [% colors.links.visited %];
}

/* Main content area */
#main {
}

#main h1.section {
  border-bottom: 1px [% colors.links.visited %] dotted;
}

#main p {
  padding: 0 1em;
}

#main a, #loclist a {
  color: [% colors.links.new %];
  text-decoration: none
}

#main a:hover, #loclist a:hover {
  border-bottom: 1px black dotted;
}

#main a:visited, #loclist a:visited {
  color: [% colors.links.visited %];
}

#main table.schedule {
  margin: 0 1em;
}

/* Photo blob on main page */
#photo {
  padding: 1em 0;
}

#map {
  margin: 1em;
  text-align: center;
  height: 600px;
  width: 900px;
}

#address {
  border: 1px solid #ddd;
  background: #eee;
  margin: 2em;
  padding: 1em;
}

#loclist {
  background: #f5f5f5;
}

#loclist h2 {
  padding: 5px;
  border-bottom: 1px #ccc solid;
}

#loclist ul {
  list-style-type: none;
  list-style: none;
}

#loclist ul li {
  margin-left: 1em;
}

/* Footer */
#footer {
  font-size: 60%;
  text-align: center;
  background: #000;
  color: #eee;
  padding: 5px 0;
}

#footer a {
  color: [% colors.links.visited %];
  text-decoration: none;
}

#footer a:hover {
  color: #fff;
}

#infobar {
  font-size: 60%;
  text-align: center;
  background: #f5f5f5;
  color: #bbb;
  padding: 5px 0;
}

#identifier {
  font-style: italic;
}
