[% META
    type = 'text';
rewrite_base = site.uri.replace('^.*?://[^/]+', '');
%]
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase [% rewrite_base %]/
    RewriteRule ^index.htm$ [% site.uris.home %] [R=301,L]
    RewriteRule ^index.html$ [% site.uris.home %] [R=301,L]
    RewriteRule ^schedule.html$ [% site.uris.schedule %] [R=301,L]
    RewriteRule ^membership.html$ [% site.uris.membership %] [R=301,L]
    RewriteRule ^events.html$ [% site.uris.events %] [R=301,L]
    RewriteRule ^news.html$ [% site.uris.news %] [R=301,L]
    RewriteRule ^multimedia.html$ [% site.uris.photos %] [R=301,L]
    RewriteRule ^about.html$ [% site.uris.about %] [R=301,L]
    RewriteRule ^oh-2011-09.pdf$ [% site.uris.pdfs %]/2011-09-17-openhouse.pdf [R=301,L]
    RewriteRule ^wesley-chapel-2011-09.pdf$ [% site.uris.pdfs %]/2011-09-wesleychapel.pdf [R=301,L]
    RewriteRule ^dev(/.*) [% site.uri %]$1 [R=301,L]
    RewriteRule ^media/$ [% site.uris.media %]1316231565/ [R=301,L]
</IfModule>
