[% META
    type = 'text';
rewrite_base = site.uris.workshops.replace('^.*?://[^/]+', '');
%]
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase [% rewrite_base %]
    RewriteRule ^$ [% site.uris.workshops %]2013/ [R=302,L]
</IfModule>
